In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set() #it applies a predefined set of style parameters to your plots, giving them a consistent and visually appealing look

In [2]:
mydata=pd.read_csv("Bank Customer Churn Prediction.csv")
mydata.head(7)

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,15574012,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,15592531,822,France,Male,50,7,0.00,2,1,1,10062.80,0

In [4]:
mydata.shape

(10000, 12)

In [5]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [6]:
df=mydata.iloc[:,1:]
df.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:

y=df.iloc[:,-1]
y.head()

X=df.iloc[:,:- 1]
X.head()
#Basic Data Preprocessing

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: churn, dtype: int64

In [12]:
X['country'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: country, dtype: int64

In [13]:
X['country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [15]:
X['gender'].value_counts()

Male      5457
Female    4543
Name: gender, dtype: int64

In [16]:
X['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [18]:
# Create Dummy Variables by one hot encoding using pandas
geo=pd.get_dummies(X.iloc[:,1],drop_first=True)
gen=pd.get_dummies(X.iloc[:,2],drop_first=True)

#Drop Old Variables which are replaced by Dumay Variables
X.head()
X=X.drop(['country','gender'],axis=1)
X.head()
X=pd.concat([X,geo,gen],axis=1)
X.head()

KeyError: "['country', 'gender'] not found in axis"

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33, random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

X_train=sc.fit_transform(X_train)
X_train=pd.DataFrame(X_train,columns=X_test.columns)#what is this????

X_test=sc.transform(X_test)
X_test=pd.DataFrame(X_test,columns=X_train.columns)

(6700, 11)

In [21]:
x_train=X_train.values
x_test=X_test.values
y_train=y_train.values
y_test=y_test.values

In [25]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

# Fitting the model on training data
model.fit(x_train,y_train)

LogisticRegression()

In [26]:
y_pred=model.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8115151515151515

In [28]:
(y_pred==y_test).mean()

0.8115151515151515